<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление данных о пользователях</title>
</head>
<body>
<h1>Обновление данных о пользователях</h1>
<form th:method="POST" th:action="@{/select_all}" th:object="${person}">
    <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Enter first name">
    </div>

    <div class="form-group">
        <label for="surname">Last Name</label>
        <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Enter last name">
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" class="form-control" id="age" placeholder="Enter age">
    </div>

    <div class="form-group">
        <label for="username">Email address</label>
        <input type="text" th:field="*{username}" class="form-control" id="username" aria-describedby="emailInput" placeholder="Enter email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="slectRole">Example multiple select</label>
        <select multiple class="form-control" id="slectRole">
            <option value="ROLE_ADMIN"   adminSelect>ADMIN</option>
            <option value="ROLE_USER"   adminSelect>USER</option>
            <option value="ROLE_MANGER"   adminSelect>MANGER</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add new user</button>
</form>
<br>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выход"/>
</form>

</body>
</html>